services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGERS_DB: app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  etl:
    build: .
    working_dir: /app
    volumes:
      - .:/app
    environment:
      PYTHONPATH: /app/src
      DATABASE_URL: postgresql+psycopg://app:app@db:5432/app
    depends_on:
      - db

volumes:
  pgdata:

